aiogram
pydantic-settings
pydantic
tortoise-orm[asyncpg]
kurigram
tgcrypto
python-dotenv
requests
beautifulsoup4
langchain
langchain-community
langchain-openai
langchain-text-splitters
faiss-cpu
openai
pytz
google-api-python-client
google-auth-httplib2
google-auth-oauthlib